.json-tree-container {
  max-height: 100%;
  font-family: 'Roboto', sans-serif;
}
.mat-tree-node {
  padding: 0.25rem 0.5rem;
}

.right-panel {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  overflow-y: auto;
  max-height: 80vh;
  padding: 1rem;
}

.innerPannelRight{
  max-height: 60vh;

}