.map-container {
  width: 100%;
  height: 600px;
  border: 1px solid #ccc;
}


.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}


.custom-cluster {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #333;
  border-radius: 50%;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.custom-cluster span {
  font-family: 'Arial', sans-serif;
  color: #333;
}

.cluster-small {
  border-color: #2ecc71;
}

.cluster-medium {
  border-color: #f1c40f;
}

.cluster-large {
  border-color: #e74c3c;
}
