<div class="mx-2 mt-6 bg-white shadow-lg rounded-lg max-h-6/12 overflow-auto mb-5 ">
  <table class="min-w-full divide-y divide-gray-200"  [style.min-height]="paginatedCompanies.length > 0 ? '700px' : null">
    <thead class="bg-gray-200">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Craft</th>

        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">City</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Website</th>
        <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <tr *ngFor="let company of paginatedCompanies">
        <td class="px-6 whitespace-nowrap text-sm text-gray-900">{{ company.companyParams.name?.trim() || '-' }}</td>
        <td class="px-6 whitespace-nowrap text-sm text-gray-900">{{ company.companyParams.craft?.trim() || '-' }}</td>

        <td>
          <mat-form-field>
            <mat-label>Email</mat-label>

            <mat-select
              [(value)]="company.selectedEmail"
              (selectionChange)="this.companyDataService.persistSelection(company, 'selectedEmail', $event.value)"
              [disabled]="!company.companyParams.emails?.length"
            >
              @if (company.companyParams.emails?.length) {
                @for (email of company.companyParams.emails; track email) {
                  <mat-option [value]="email">{{ email }}</mat-option>
                }
              } @else {
                <mat-option disabled>-</mat-option>
              }
            </mat-select>
          </mat-form-field>

          @if (company.selectedEmail) {
            <div class="mt-2">
              <a
                [href]="company.selectedEmail"
                target="_blank"
                rel="noopener"
                class="text-blue-600 hover:underline"
              >
                {{ company.selectedEmail }}
              </a>
            </div>
          } @else {
             <div class="mt-2">
              -
             </div>
          }
        </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ company.companyParams.city || "-" }}</td>
        <td>
          <mat-form-field>
            <mat-label>Website</mat-label>

            <mat-select
              [(value)]="company.selectedWebsite"
              (selectionChange)="this.companyDataService.persistSelection(company, 'selectedWebsite', $event.value)"
              [disabled]="!company.companyParams.website?.length"
            >
              @if (company.companyParams.website?.length) {
                @for (url of company.companyParams.website; track url) {
                  <mat-option [value]="url">{{ url }}</mat-option>
                }
              } @else {
                <mat-option disabled>-</mat-option>
              }
            </mat-select>
          </mat-form-field>

          @if (company.selectedWebsite) {
            <div class="mt-2">
              <a
                [href]="company.selectedWebsite"
                target="_blank"
                rel="noopener"
                class="text-blue-600 hover:underline"
              >
                {{ company.selectedWebsite }}
              </a>
            </div>
          } @else {
             <div class="mt-2">
              -
             </div>
          }
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-center flex">
        <button
          (click)="crawlPage(company)"
          [disabled]="[CrawlerState.SUCCESS || CrawlerState.PENDING ].includes(company.crawlerState)"
          class="bg-blue-500 hover:bg-blue-600 disabled:bg-blue-300
                text-white font-semibold py-1 px-3 rounded mr-5
                flex items-center justify-center min-w-[120px]"
        >
          @if (company.crawlerState === CrawlerState.PENDING) {
            <mat-progress-spinner
              diameter="20"
              mode="indeterminate"
              color="white">
            </mat-progress-spinner>
          } @else {
            Collect Data
          }
        </button>
        <button
          (click)="sendMail(company)"
          [disabled]="[EmailState.PENDING, EmailState.SUCCESS].includes(company.emailState) || !company.selectedWebsite || !company.selectedEmail"
          class="bg-white
                text-blue-600
                border border-blue-600
                font-semibold
                py-1
                px-3
                rounded
                transition-colors
                duration-200
                hover:bg-blue-50
                disabled:bg-gray-100
                disabled:text-gray-400
                disabled:border-gray-300
                disabled:cursor-not-allowed"
        >
          Send Mail
        </button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator
    [length]="filteredCompanies.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="this.currentPageIndex"
    (page)="onPageChange($event)"
    aria-label="Select page">
  </mat-paginator>
</div>
