namespace: web-scanner-dev
frontend:
  replicas: 2
  image:
    repository: web-scan-frontend
    tag: 13e810fa85544db4ea4f1ba46d8c365e62ec16f7830c77d1029e5bdddb11d80d
    pullPolicy: IfNotPresent
  nginx:
    config: dev
    containerPort: 4200
  service:
    type: NodePort
    port: 4200
    nodePort: 30001
email:
  replicas: 2
  image: web-scan-email
  tag: 57297633ca6d509895558f1a17e14577fbadd8704a2ce6cea164750ea9a8c266
  service:
    port: 8000
    targetPort: 8000
crawler:
  replicas: 3
  image: 
    name: web-scan-crawler
    tag: 8050dd6559b3b57f17b4552b5e54fd27a43ced92c5872ae3631973bcf760aaf9
    imagePullPolicy: IfNotPresent
  service:
    port: 3000
    targetPort: 30002
maildev:
  name: maildev
  replicas: 1 
  container:
    image: maildev/maildev
    tag: 2.1.0
    limits:
      memory: 512Mi
      cpu: 100m
    requests:
      memory: 256
      cpu: 50m
  service:
    web:
      port: 1080
      targetPort: 1080
    smtp: 
      port: 10255
      targetPort: 1025
