namespace: web-scanner-dev
frontend:
  replicas: 2
  image:
    repository: web-scan-frontend
    tag: latest
    pullPolicy: IfNotPresent
  nginx:
    config: dev
    containerPort: 4200
  service:
    type: NodePort
    port: 4200
    nodePort: 30001
email:
  replicas: 2
  image: web-scan-email
  tag: 57297633ca6d509895558f1a17e14577fbadd8704a2ce6cea164750ea9a8c266
  env:
    email: "test@mail.com"
    password: "supersecret"
    host: "maildev"
    hostPort: 10255
  service:
    port: 8000
    targetPort: 8000
crawler:
  replicas: 3
  env:
      maxCrawl: 30
      GOOGLE_CSE_ID:
      GOOGLE_API_KEY:
  image: 
    name: web-scan-crawler
    tag: latest
    imagePullPolicy: IfNotPresent
  service:
    port: 3000
    targetPort: 30002
maildev:
  name: maildev
  replicas: 1 
  container:
    image: maildev/maildev
    tag: 2.1.0
    limits:
      memory: 512Mi
      cpu: 100m
    requests:
      memory: 256
      cpu: 50m
  service:
    web:
      port: 1080
      targetPort: 1080
    smtp: 
      port: 10255
      targetPort: 1025

keycloak:
  StatefulSet:
    name: keycloak
    replicas: 2
    containers:
      env:
        username: admin
        password: 9621cd0c-3bca-4711-8b77-2c6003b6e9a3
        headers: xforwarded
        httpEnabled: true
        strictHostname: false
        healthEnabled: true
        cache: ispn
      ports:
        http: 8080
        jgroups: 7800
        jgroupsfd: 57800
      limits:
        cpu: 2000m
        memory: 2000Mi
      requests:
        cpu: 500m
        memory: 1700Mi
postgres:
  deployment:
    name: postgres
    replicas: 1 
    user: keycloak
    password: 96b72d0c-3bca-4711-8b77-2c6003b7e9a3
    db: wb-keycloak
    logstatement: all
    port: 5432
    targetPort: 5432
  job:
    name: setup-python-db-job
orm:
  dbUser: ormuser
  dbPassword: 0rmu5RPw4ca28b112cc03fb123fc
  dbName: ormdb
  dbUrl: postgresql://ormuser:0rmu5RPw4ca28b112cc03fb123fc@postgres:5432/ormdb
  targetPort: 8001
  port: 20001
  job:
    name: Setup-orm-tables