apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv0003
  namespace: {{ .Values.namespace }}
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
    path: /mnt/data/pv0003
    type: DirectoryOrCreate

