apiVersion: batch/v1
kind: Job
metadata:
  name: setup-python-db-job
  namespace: {{ .Values.namespace }}
spec:
  template:
    spec:
      containers:
      - name: psql-client
        image: mirror.gcr.io/postgres:17
        env:
        - name: PGPASSWORD
          value: {{ .Values.keycloak.postgres.deployment.password }}
        command:
        - /bin/sh
        - -c
        - |
          psql -h {{ .Values.keycloak.postgres.deployment.name }} \
               -U {{ .Values.keycloak.postgres.deployment.user }} \
               -d postgres \
               -f /scripts/setup.sql
        volumeMounts:
        - name: script-vol
          mountPath: /scripts
      restartPolicy: OnFailure
      volumes:
      - name: script-vol
        configMap:
          name: db-migration-script
