apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Values.namespace }}
  labels:
    app: postgres
  name: postgres
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: {{ .Values.postgres.deployment.port }}
      targetPort: {{ .Values.postgres.deployment.targetPort }}
  type: ClusterIP
